[2016-10-12 11:18] neilstevenson opened #5 "Support for audit annotations"
Audit annotations `@CreatedBy`, `@CreatedDate`, `@LastModifiedBy`, `@LastModifiedDate`.

These require modification to Spring Data Keyvalue, see (https://jira.spring.io/browse/DATAKV-147)

Once this is available, Spring Data Hazelcast should demonstrate use of these. Will need test cases at least, and possibly changes to core to support.

[2016-10-17 19:13] neilstevenson opened #6 "Bean Definition Parser"
(Migrated issue from https://github.com/hazelcast-incubator/spring-data-integrations-commons/issues/11)

XML configuration needs `<hazelcast:repositories>` handling

We might get some backing from Spring for doing annotations before XML support,
http://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#using-boot-importing-xml-configuration

"If you absolutely must use XML base

[2016-10-17 19:14] neilstevenson opened #7 "Slice query optimisation"
(Migrated issue from https://github.com/hazelcast-incubator/spring-data-integrations-commons/issues/17)

In `org.springframework.data.hazelcast.repository.query.HazelcastPartTreeQuery`, the Slice query processing does not need an implicit count call to determine if a next slice exist.
Retrieve from "rows + 1" should be equivalent.

[2016-10-17 19:16] neilstevenson opened #8 "Additional query keywords"
(Migrated issue from https://github.com/hazelcast-incubator/spring-data-integrations-commons/issues/16)

In `org.springframework.data.hazelcast.repository.query.HazelcastQueryCreator` the following remain to be implemented (left for after launch)

[code]

Some will be more complex than others, hence the motivation to leave for future enhancements,

See [http://docs.spring.io/spring-data/keyvalue/d

[2016-10-17 19:18] neilstevenson opened #9 "Predicate optimisation"
(Migrated issue from https://github.com/hazelcast-incubator/spring-data-integrations-commons/issues/18)

In `org.springframework.data.hazelcast.repository.query.HazelcastPartTreeQuery`, the `execute()` method calls `prepareQuery()` on each invocation.

If a query is reused, as most are, this is unnecessary parsing. Some sort of parameter binding mechanism could be more efficient.

[2016-10-17 19:20] neilstevenson opened #10 "NPE if beans omitted"
(Migrated issue from https://github.com/hazelcast-incubator/spring-data-integrations-commons/issues/28)

Omission of `KeyValueAdapter` or maybe `KeyValueTemplate` beans causes NPE. Needs an assertion to catch this and throw a more meaningful error message.

[code]

[2016-10-17 19:24] neilstevenson opened #11 "Hazelcast instance bean data provider"
(Migrated issue from https://github.com/hazelcast-incubator/spring-data-integrations-commons/issues/12)

Starting Hazelcast as a data provider requires registering multiple custom bean definitions:

[code]

KeyValueOperations can be instantiated by implementation maybe. Hazelcast Bean’s name may be passed by using attributes of `@EnableHazelcastRepositories` annotation. We should be able to specif

[2016-10-17 19:25] neilstevenson opened #12 "XSD schemas are missing"
(Migrated issue from https://github.com/hazelcast-incubator/spring-data-integrations-commons/issues/8)

Only annotation configuration is possible

[2016-10-17 19:27] neilstevenson opened #13 "NPE if @Id omitted"
(Migrated issue from https://github.com/hazelcast-incubator/spring-data-integrations-commons/issues/24)

If the domain class is missing the @Id annotation on the keyspace, this is thrown on a save

[code]

However, in Spring Data Keyvalue, this should be thrown instead

[code]

[2016-10-17 19:29] neilstevenson commented on #13
In Spring-Data-Keyvalue, find
[code]

If the domain object "Foo" looks like this,
[code]
you get
[code]

[2016-10-17 19:30] neilstevenson opened #14 "provide a getting started guide"
(Migrated issue from https://github.com/hazelcast-incubator/spring-data-integrations-commons/issues/5)

[2016-10-30 15:55] neilstevenson commented on #5
Looking at implementing in Spring Data Keyvalue, needs to be done there first, then Spring Data Hazelcast can use

[2016-11-01 13:13] neilstevenson opened #15 "ReactiveCrudRepository"
Investigate & support `org.springframework.data.repository.reactive.ReactiveCrudRepository`

[2016-11-02 07:39] neilstevenson opened #16 "Missing spring-boot-starter-data-hazelcast"
Need to add this, and provide a sample using it.

[2016-11-24 10:49] neilstevenson commented on #15
See Spring Data Keyvalue - 2.0

[2016-12-20 07:44] neilstevenson opened #18 "Duplicate key exception on Repository.save(T)"
Try
[code]

Throws
[code]

But `HazelcastRepository` doesn't expose an `update(T)` method, and in any case it seems more intuitive to be able to do the update time.

Need to verify if this is a fault or an incorrect expectation. If the latter a more helpful exception might be needed.

[2016-12-20 08:19] neilstevenson commented on #18
We already have a unit test for this,
`org.springframework.data.hazelcast.repository.CrudIT.saveValue()`
which passes.

[2017-01-08 16:04] neilstevenson commented on #18
This is sufficient to recreate,
[code]

Note that it works fine if the key is set to '1', but throws the exception if set to '0'.

In https://github.com/spring-projects/spring-data-keyvalue/blob/master/src/main/java/org/springframework/data/keyvalue/core/KeyValueTemplate.java the method `doInKeyValue` is throwing the exception,
[code]
which would suggest the behaviour for 0 is correct and 1 incorr

[2017-01-08 17:43] neilstevenson commented on #18
More....
If Person class is defined
[code]
or
[code]
the behaviour differs. Might be a comparison comparing identity instead of equality.... somewhere

[2017-01-08 19:19] neilstevenson commented on #18
Have added further unit tests -- these currently fail and demonstrate the issue.
See `MoreCrudIT.java`

[2017-01-09 14:23] neilstevenson opened #19 "Spring Data release train inclusion"
Need `spring-data-hazelcast` included in the Spring Data release train, to unlock the ability for `spring-boot-starter-data-hazelcast`

[2017-01-09 15:57] neilstevenson commented on #16
Depends on https://github.com/hazelcast/spring-data-hazelcast/issues/19

[2017-01-09 15:59] neilstevenson commented on #12
Spring 5 is moving towards Lambdas and Java beans, less XML

[2017-03-03 14:42] neilstevenson opened #20 "Version incompatibilities"
Spring Data Hazelcast 1.0 uses
[code]

The latest Spring Boot, currently 1.5.1, pulls in
[code]
and these cause a compile error on Spring Data Hazelcast

[2017-05-24 15:27] tdanylchuk opened #23 "Updating Spring Boot version to 1.5.3.RELEASE causing exceptions"
Trying to upgrade spring boot to latest and get
Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'someRepository': Could not resolve matching constructor (hint: specify index/type/name arguments for simple parameters to avoid type ambiguities)

Same here https://github.com/gAmUssA/springoneplatform-demo
if just change spring boot verstion everything

[2017-06-06 08:38] gokhanoner commented on #18
@neilstevenson from `org.springframework.data.repository.core.support. AbstractEntityInformation `

[code]

[2017-07-26 22:23] fkoner opened #28 "Support for crud operations such as derived delete queries"
I find the following scenario:

I try to delete a series of items through a repository using the following repository definition:

[code]

By extending the definition of the repository by a more concrete definition for example:
[code]

When creating a test to do item deletion, for example:
[code]

Here are some logs:
[code]

What I expect is that all elements that match the query are deleted, but

[2017-09-21 14:18] sbueringer commented on #23
I have the same problem with Spring Boot 2.0.0.M4

[2017-10-06 22:38] #23 closed

[2018-04-02 11:07] Viacheslav-Petriaiev opened #30 "Spring Boot 2.0.x support implementation"
Hello,
spring-data-hazelcast should support Spring Data KeyValue 2.0.x

Thanks

[2018-04-09 19:44] mesutcelik opened #32 "Integration Tests not executed in PR Builder"
`mvn clean install` fails as oppose to `mvn clean test` and current master is broken with two test failures.

[code]

[2018-04-11 17:26] mesutcelik commented on #32
That started happening after https://github.com/hazelcast/spring-data-hazelcast/pull/24 merge.

[2018-04-11 17:28] gokhanoner commented on #32
checking.

[2018-04-11 19:16] mesutcelik commented on #32
fixed by #33

[2018-04-11 19:16] #32 closed

[2018-04-11 19:17] mesutcelik commented on #7
reopening because #24 was reverted by #33

[2018-04-12 17:53] #8 closed

[2018-04-24 12:52] alparslanavci opened #34 "NullPointerException when using Query annotation"
A user gets the following exception when using Query annotation:

[code]

[2018-04-24 12:53] mesutcelik commented on #34
Can we get the Query that is failing?

[2018-04-24 13:11] costap commented on #34
Hi, I raised the issue originally through HC support. Its failing for any query using the annotation, e.g.

    @Query( "name=%s" )
    List<Competition> competitionswithName( String name );

Where

@Data
@KeySpace( "Competition" )
public class Competition implements Serializable {

    private static final long serialVersionUID = 1L;

    private String code;
    private String name;
}

[2018-05-02 15:34] dbrimley commented on #16
It seems like Couchbase and Neo4J are community modules, but their github repos are under spring-projects.  Is this the reason why they are listed on https://start.spring.io/ and we are not, as we run under our own repo.

Maybe need to talk with the Spring Data project lead?

[2018-05-02 15:38] dbrimley commented on #11
Spring Boot Configuration feature?

[2018-05-02 15:41] dbrimley commented on #9
We might need a predicate binding on the hazelcast side (cc @gokhanoner )

[2018-05-02 15:44] dbrimley commented on #7
This optimisation will be difficult because of the current Hazelcast paging predicate design. (cc @gokhanoner )

[2018-05-02 15:44] #7 closed

[2018-05-02 15:46] #6 closed

[2018-05-02 15:48] dbrimley commented on #5
Seems like we need Spring KeyValue project to implement first.

[2018-05-02 15:53] dbrimley commented on #13
@gokhanoner will check behaviour of other libraries and copy.

[2018-05-08 14:50] neilstevenson commented on #18
@gokhanoner Thanks for the analysis. It's not our problem, but I think we need to catch and re-throw with a clearer error message.

[2018-05-08 15:52] neilstevenson commented on #18
@gokhanoner @dbrimley  I have pushed a fixed that catches and re-throws the error with a clearer message. Given it's an edge case, we should decide whether to take the fix or discard the branch.

[2018-05-15 01:15] leszko commented on #34
Fixed in #36 .
Will be released in 1.2.1.

The problem was that the name of the instance was hardcoded, so if you need a workround until 1.2.1 is released, you can create the instance bean with the hardcoded name.

[code]

[2018-05-15 02:38] leszko commented on #20
Checked and the current (1.2.0) version works fine with Spring Boot 1.5.13.RELEASE.
Updated Code Samples: https://github.com/hazelcast/hazelcast-code-samples/pull/240

@neilstevenson @dbrimley Do you think we can close this issue?

[2018-05-15 13:01] leszko commented on #10
@neilstevenson , is it still valid? I cannot reproduce it and got a nice exception when I didn't define `KeyValueTemplate`:

[code]

[2018-05-15 19:42] neilstevenson commented on #20
The original reason for this ticket is that something had changed in the API of the dependencies, so locking the version resolved that, sort of.
If we regard these two dependencies (`spring-data-keyvalue` `and `spring-data-common`) as stable then it should be ok to take the latest. Plus the build will break if they do change again

[2018-05-15 21:27] gokhanoner commented on #18
I believe we shouldn't fix. I checked other implementation, all of them just delegate to the default Spring implementation. So we should leave it as it is.

[2018-05-15 21:28] gokhanoner commented on #9
@dbrimley I believe we can open a Hazelcast issue, refer here & close this one.

[2018-05-15 21:29] gokhanoner commented on #10
@leszko @neilstevenson as a note, this is a feature added in Spring-Boot 1.4: https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-1.4-Release-Notes#analysis-of-startup-failures

[2018-05-15 21:51] gokhanoner commented on #13
@neilstevenson The think is default `EntityInformation` in `KeyValueTemplate` class is `PersistentEntityInformation`. In the test, it creates a `ReflectionEntityInformation` class & pass it. This is why it throws a nice exception.

We can do something similar to what Redis did: https://github.com/spring-projects/spring-data-redis/blob/master/src/main/java/org/springframework/data/redis/repository/

[2018-05-15 23:08] leszko commented on #10
Good, thanks @gokhanoner

[2018-05-16 01:12] leszko commented on #20
@mesutcelik , I don't think we need `provided`. which use cases would it cover?

I've updated version to the latest (Hazelcast, Spring Data) #37 , it works fine with the latest Spring Boot, so I think we're fine when it comes to 1.x.

[2018-05-16 16:06] neilstevenson commented on #20
Happy to close!

[2018-05-16 16:15] mesutcelik commented on #20
@leszko we closed #37 so if it is ok current spring data version then we can close it.
It is 1.8.2 right now.
https://github.com/hazelcast/spring-data-hazelcast/blob/master/pom.xml#L15

[2018-05-16 23:52] leszko commented on #20
Yes, it's fine. Closing.

[2018-05-16 23:52] #20 closed

[2018-05-17 15:33] mesutcelik commented on #18
so closing? @gokhanoner @neilstevenson

[2018-05-17 17:38] gokhanoner commented on #18
@mesutcelik I believe we should.

[2018-05-18 11:56] #13 closed

[2018-05-22 17:11] #18 closed

[2018-06-07 11:56] #11 closed

[2018-06-07 11:58] #28 closed

[2018-06-07 15:56] elsega opened #45 "HazelcastPropertyComparator causes `Comparison method violates its general contract!` error"
HazelcastPropertyComparator has a problem in its implementation, specifically we can see how it is ignoring the second field value and returning either `1` or `-1` when `o1Field` is `null`. If both fields are null it should return `0`.
[code]
Specifically, when using a `org.springframework.data.domain.PageRequest` object that contains a `org.springframework.data.domain.Sort` directive over multipl

[2018-06-25 08:22] #45 closed

[2018-07-11 06:39] leszko opened #48 "Implement minor missing Spring Data Key Value features"
There a few features which are currently not covered by Spring Data Hazelcast:

- [x] "distinct" keyword (https://github.com/hazelcast/spring-data-hazelcast/pull/68)
- [x] "isEmpty" keyword family (https://github.com/hazelcast/spring-data-hazelcast/pull/87)
- [x] "existsBy" keyword (https://github.com/hazelcast/spring-data-hazelcast/pull/84)
- [x] "within", "isWithin" keywords
- [x] "near", "isNea

[2018-11-05 14:53] suhotskiy opened #49 "Current version does not compatible with Spring Data key-value 2.1.x"
Are you going to support Spring Data key-value 2.1.x ?

[2018-11-05 15:00] leszko commented on #49
Yes.

Isn't the current version compatible with that? Is it only about bumping up the Maven dependency version, or do you have any issues while running it?

[2018-11-05 16:28] suhotskiy commented on #49
Yes, the current version is not compatible.
You should use org.springframework.data.repository.query.QueryMethodEvaluationContextProvider instead
org.springframework.data.repository.query.EvaluationContextProvide in the org.springframework.data.hazelcast.repository.support.HazelcastQueryLookupStrategy and org.springframework.data.hazelcast.repository.support.HazelcastRepositoryFactory classes

[2018-11-06 08:18] leszko commented on #49
Thanks @suhotskiy , Could you send a PR?

[2018-11-06 16:36] leszko commented on #49
Thanks!

[2018-11-13 12:34] mesutcelik commented on #49
fixed by https://github.com/hazelcast/spring-data-hazelcast/pull/51

[2018-11-13 12:34] #49 closed

[2018-11-30 15:39] leszko commented on #19
Fixed by #51

[2018-11-30 15:41] leszko commented on #16
I guess we had a conversation with Spring guys and have a plan to try to join them in 2019. Closing this for now. Feel free to reopen if needed.

[2018-11-30 15:41] #16 closed

[2018-11-30 15:42] leszko commented on #15
I think our Spring Data Hazelcast should work fine with `ReactiveCrudRepository`. Let's keep this GH issue just as verification.

[2018-11-30 15:43] leszko commented on #14
@neilstevenson @gAmUssA , do we still want to work on that?

[2018-11-30 15:44] leszko commented on #12
I think we don't need XSD, as you mentioned Neil, Spring 5 is more about Java-based config. Closing for now. Please reopen if you think we should implement it anyway.

[2018-11-30 15:44] #12 closed

[2018-11-30 15:46] leszko commented on #9
Is it still a valid GH Issue? @neilstevenson @dbrimley @gokhanoner

[2018-11-30 15:47] leszko commented on #5
Spring KeyValue didn't implement it for 2 years. I think we can close it for now. Please reopen if you find it useful to have an open GH issue for that.

[2018-11-30 18:33] gokhanoner commented on #9
@leszko, as mentioned, we can open an issue on hazelcast for query binding & close this one since it need to be resolved in hazelcast-core

[2019-03-15 09:54] rfogel opened #53 "Problems with @Query"
Hello all, im experience some errors using @query annotation to do some custom queries.

I have a repository:

[code]

and a Model:

[code]

Using base methods from CrudRepository like findAll works fine, but when a use findByLegalentity, **i get java.lang.NullPointerException: Retrieving a map instance with a null name is not allowed!**

Reading some topics, i tried to put @KeySpace annotation:

[2019-03-15 11:29] leszko commented on #53
So you use Hazelcast as client-server, right?
Could you send your Hazelcast client configuration? The best would be if you could even share the project or some sample code which helps to reproduce the issue.

[2019-03-29 10:06] rfogel commented on #53
Hi @leszko , thanks for answering and sorry my delay. I reviewed my project and i realize that the problem is on server side. HZ instance was not loading models so it couldn't deserialize the objects coz it didn't know them.

I would like to take the oportunity to ask you another question. I'm trying to use IN keyword like that:

[code]
 but it fails on parse

[code]

[2019-03-29 14:26] leszko commented on #53
@rfogel It's actually a bug in spring-data-hazelcast. Give me a second, I'll send a PR to fix it.

[2019-03-29 14:49] leszko commented on #53
I've create a PR with the fix: #54.

@rfogel, I'll let you know when it's merged and released. Btw. thanks for spotting it!

[2019-03-29 14:51] rfogel commented on #53
Thanks man. :+1:

[2019-04-02 10:01] #53 closed

[2019-04-04 09:34] leszko commented on #53
@rfogel FYI: Spring Data Hazelcast 2..2 (with the fix) is released.

[2019-04-05 13:34] rfogel commented on #53
@leszko Awesome man! Thanks.

[2019-11-07 11:50] chihaiaalex opened #58 "Spring Boot 2.2.0.RELEASE support"
When are you planning a release with support for Spring Boot 2.2.0.RELEASE?

[2019-11-07 12:21] mesutcelik commented on #58
We will be releasing on Friday.

On Thursday, November 7, 2019, chihaiaalex <notifications@github.com> wrote:

--

*Mesut Celik**Services & Integration Team Lead*
mesut@hazelcast.com
@mesutcelik <http://www.twitter.com/mesutcelik>

[2019-11-08 13:34] mesutcelik commented on #58
It is released!
https://github.com/hazelcast/spring-data-hazelcast/releases/tag/v2.2.2

[2019-11-08 13:34] #58 closed

[2019-11-11 17:27] pjrowe89 commented on #15
What is the status of this issue?

[2019-11-12 19:36] leszko commented on #15
I think nobody verified it yet. If someone does and it works, please write a comment here and close this issue.

[2019-12-16 19:02] anbusampath opened #59 "ClassNotFoundException when run Spring Data Hazelcast along with Spring Boot"
Spring boot version 2.1.10 as well as 2.2.2.
Spring Data Hazelcast version : 2.2.2
Hazelcast version : 3.12.2

` Caused by: java.lang.ClassNotFoundException: com.xxx.DomainClass
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381) ~[na:1.8.0_212]
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424) ~[na:1.8.0_212]
	at sun.misc.Launcher$AppClassLoader.loadClass(Launcher.java:338) ~[n

[2019-12-17 08:41] leszko commented on #59
@anbusampath Thanks for raising the issue. Could you also add the steps to reproduce? Thanks!

[2019-12-17 20:35] anbusampath commented on #59
Please check below repo for sample.
https://github.com/anbusampath/hazelcast-springboot

When I run this application with username/password, I am getting ClassNotFoundException.

[2019-12-17 20:46] gokhanoner commented on #59
@anbusampath there're multiple things that you need to do:

Your app is a client & using Hazelcast as a cache to a DB as far as I can see from the exceptions, which means you're accessing the classed on the members as well,  so you need class definitions available in the Hazelcast Cluster itself. You can put the classes to the classpath of your Hazelcast members or you need yo enable User Code dep

[2019-12-17 21:05] anbusampath commented on #59
Thanks @gokhanoner . I will check out the Sample code and document.

[2019-12-17 21:05] #59 closed

[2020-01-21 17:19] fbutter opened #61 "Option for Configuring the Name of the Distributed Map"
As a user of the spring-data-hazelcast library, I want to configure the name of the distributed map, so I can interact with existing distributed maps.

Hints:
* Currently, the class reference is used as the name of the map.
* So if the type of the domain value class is of type String, the map with name `java.lang.String` is used.
* So the following repository will call `com.hazelcast.instance.Haze

[2020-02-04 15:22] leszko commented on #61
That would be a good feature. I'd call the annotation just `@Map` instead of `@MapName`.

[2020-02-06 08:29] inelpandzic commented on #61
Hello, I will be glad to take this issue.

[2020-02-06 08:40] Holmistr commented on #61
@inelpandzic That was fast, great to see you here :) I have replied to your email regarding our previous discussion about https://github.com/hazelcast/hazelcast/issues/3840 . Let's decide via email and then I'm happy to assign you one of the issues. :tada:

[2020-02-06 09:30] HLupercal commented on #61
Hey,
If it's still up for grabs, I'd like to take a stab at it.

[2020-02-06 09:35] Holmistr commented on #61
Hi @HLupercal , yes, we coordinated, the issue is yours! :) I'm assigning it to you. Shortly, I will get some expert to provide you some initial entrypoints, tips etc. Looking forward to your contribution!

[2020-02-06 10:45] leszko commented on #61
Thanks @HLupercal for taking this issue! You can ask here any questions if anything is unclear.

If you want to play with how Spring Data Hazelcast works, here's the [related Code Sample](https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/spring-data-hazelcast-chemistry-sample).

I think this should be changed in `HazelcastQueryMethod#getKeySpace()`, but I'm not

[2020-02-07 11:46] HLupercal commented on #61
Sure. Thanks for the info. I'll get on it during the weekend.

[2020-02-08 20:18] HLupercal commented on #61
Ok, so i did some digging around - doesn't the `@KeySpace` annotation on domain objects basically do this?

[2020-02-10 08:07] leszko commented on #61
I think you can't use `@KeySpace` as the annotation for the repository interface. And I guess that was the intention. Am I right @fbutter ?

[2020-02-10 10:29] HLupercal commented on #61
@leszko

Yeah, I get that, however I'm not sure I understand how is that supposed to work.

If I understand correctly, annotating a domain object class with `@KeySpace("myCustomMapName")` defines the map name for that particular class which in essence is the point of this enhancement. (However, I guess it won't work for built in types such as String, as they're, well, built in, and there's nothing

[2020-02-10 12:59] leszko commented on #61
Yeah, you're right. Maybe we're going too deep. I'd do as follows:

1. Check if some other similar plugins support it. For example, you can check [Spring Data Redis](https://github.com/spring-projects/spring-data-redis).

2, If not then, I'd just close this issue with the message that this feature is too complicated and may be confusing to the users.

[2020-02-11 21:08] keyspace commented on #61
@leszko tried to tick me out, but then a naïve copy-paste put me back in. :D

To prevent that from happening, instead of `CTRL+C`, `CTRL+V`, use the three-dots contextual menu for the comment card, in its top right corner, and select "Quote reply" (after you've selected the text to be quoted, that is).

There! Good luck debugging! Free the software! Free Julian Assange! :black_flag:

[2020-02-12 09:37] HLupercal commented on #61
That was... unexpected :D.

Anyway, i did go through the redis spring data implementation and some resources on the web and it seems they take the same approach i.e. they only annotate domain objects with what is basically an extended >> `@KeySpace` annotation (`@RedisHash`).

So I guess you guys can close this issue. Cheers.

[2020-02-12 10:01] leszko commented on #61
ok, let's close it as "won't fix" . Thanks @HLupercal for the investigation!

[2020-02-12 10:01] #61 closed

[2020-02-12 11:05] ulhasrm commented on #48
I would like to work on this.

[2020-02-12 12:27] Holmistr commented on #48
Hi @ulhasrm , glad to hear that. And the issue is yours! :tada: I will get an expert to provide you some starting guidance. Looking forward to your contribution! :)

[2020-02-12 12:37] pangeran-bottor commented on #15
Hello. After discussing with @holmistr, I would like to work on this

[2020-02-12 12:39] Holmistr commented on #15
Hi @pangeran-bottor ! And the issue is yours! :tada: Shortly, our experts will provide you some guidance, entry points. Looking forward to your contribution by reviewing this!

[2020-02-12 13:44] leszko commented on #48
@ulhasrm Thanks for volunteering to take this GH issue. A few guidelines from my side:

- You can start by adding the test cases to `PersonRepository.java` and `QueryIT.java`
- The changes will probably take place in `HazelcastQueryCreator.java`

If you need any help, you can write questions here, I'll help :)

[2020-02-12 13:48] leszko commented on #15
@pangeran-bottor , thanks a lot for volunteering to take this GH Issue.

As the verification, the best starting point would be just to use spring-data-hazelcast and check if it works with all the features of `ReactiveCrudRepository`. And:
- if it works => Send a PR with the Integration Test for that
- if it doesn't work => Check what's wrong and either create a fix or create a new GH issue

If you

[2020-02-12 13:49] pangeran-bottor commented on #15
Noted, thanks @leszko

[2020-02-13 04:12] ulhasrm commented on #48
@leszko I have forked hazelcast/spring-data-hazelcast, to work on do I need to create a new branch ?
Do you have any guidelines to follow?

[2020-02-13 07:49] Holmistr commented on #48
Hi @ulhasrm , yes, fork is good. In that fork, create a new branch, where you push the work. Once you have something to show, open a PR from that branch to this repository. The PR can be even work in progress to get feedback more easily in case you have any questions during the development.
Or you can send the PR when you think you're done, that's up to you :) We will then provide the reviews and

[2020-02-17 04:36] ulhasrm commented on #48
Hi @leszko I spent good amount of time debugging the working of spring-data-hazelcast.
I thought I will start with "distinct" feature, On Parsing given method it reaches **HazelcastPartTreeQuery.execute** method.

There's already **if** block for distinct...which throws UnsupportedOperationException.
if (this.isDistinct) {
            String message = String
                    .format("DISTINCT m

[2020-02-17 16:42] Holmistr commented on #48
Hey @ulhasrm , glad to see you're progressing :) @leszko is currently on vacation, so please stand by, I will try to find someone else to answer your questions.

[2020-02-18 08:42] pivovarit commented on #48
@ulhasrm great to see some interest in `spring-data-hazelcast` :)

So:

This block exists now for the sole purpose of throwing an exception and as much as it might be tempting to throw some code there, keep in mind that `distinct` is just a flag so this information should be used in places where the actual query is executed:

https://github.com/hazelcast/spring-data-hazelcast/blob/ca0f74bdc042edc5

[2020-02-26 11:16] Holmistr commented on #15
Hi @pangeran-bottor , just checking in - is there anything we can help you out with? I just want to make sure that you're not stuck on something and just afraid to ask :)

[2020-02-27 09:57] Holmistr commented on #48
Hi @ulhasrm , just checking in - is there anything we can help you out with? I just want to make sure that you're not stuck on something and just afraid to ask :)

[2020-02-27 10:28] ulhasrm commented on #48
Hi @Holmistr,
I kinda stuck with distinct implementation. Can someone give me use cases and expectation?
I reviewed code from other data implementations like spring-data-jpa for distinct, no one has proper use cases on this.

If someone could help me on this to proceed?

My understanding is
eg.
1. countDistinctLastnameByFirstname ->
      a. Filter with FirstName
      b. Collect distinct/Unique L

[2020-02-27 11:37] Holmistr commented on #48
@pivovarit Could you please take a look? :point_up:

[2020-02-27 15:18] ulhasrm commented on #48
I have coded for distinct feature and created a pull request.
https://github.com/hazelcast/spring-data-hazelcast/pull/68

[2020-02-28 07:23] pivovarit opened #71 "Replace usages of deprecated ReflectionEntityInformation with PersistentEntityInformation"

[2020-02-28 07:25] pivovarit opened #72 "Migrate spring-data-keyvalue to the newest release"
Newest can be found here: [link](https://search.maven.org/artifact/org.springframework.data/spring-data-keyvalue)

`2.2.5.RELEASE` at the point of creating this issue.

[2020-02-28 11:02] pivovarit opened #78 "Make QueryIT tests stateless"
The `QueryIT` test class grew quite a lot and managing the state between various test cases became painful. We should make sure that each test case doesn't depend on the internal state of the `IMap`.

[2020-02-28 12:34] pivovarit opened #79 "Prepare code formatting settings"

[2020-03-01 00:26] pangeran-bottor commented on #15
Hi @Holmistr @leszko, my intention before was to mimick `CrudIT` test class and change the repository to `ReactiveCrudRepository` but turned out we can't extends it (e.g `public interface PersonRepository extends ReactiveCrudRepository<Person, String>`), seems I misunderstood the starting point :)
Could you provide a raw flow on how to test this?

[2020-03-02 13:30] pivovarit commented on #15
Well, the testing is fairly easy - once you have the implementation ready, you wire the whole thing up and execute public methods from the repository that extends `ReactiveCrudRepository`.

But I see a different issue here - `HazelcastRepository` extends `KeyValueRepository` which is a `spring-data-keyvalue` artifact. So I'd start by searching for `spring-data-keyvalue` reactive support

[2020-03-03 07:21] pivovarit opened #90 "Replace usages of deprecated CompoundComparator"
Replace usages of deprecated `CompoundComparator` with `Comparator#thenComparing(Comparator)`

https://github.com/hazelcast/spring-data-hazelcast/blob/26a6f894192ab405564894c9f4ef8a2ad0549edc/src/main/java/org/springframework/data/hazelcast/repository/query/HazelcastSortAccessor.java#L56

[2020-03-04 07:14] inspire99 commented on #90
Hi @pivovarit ,
I would like to work on this.

Best Regards
Ganesh

[2020-03-04 07:14] pivovarit commented on #90
Thanks! It's yours!

[2020-03-04 09:01] cristina-sirbu commented on #71
Hello! Can I take this issue?

[2020-03-04 09:02] pivovarit commented on #71
Aaaaand, it's yours!

[2020-03-05 06:03] #71 closed

[2020-03-06 06:58] ulhasrm commented on #48
@pivovarit - Can you explain what **within** or **near** functionality should look like?

[2020-03-06 07:09] pivovarit commented on #48
Keywords `near` and `within` are used for geospatial queries:

https://github.com/odrotbohm/rest-microservices/blob/master/store-service/src/main/java/example/stores/StoreRepository.java#L37-L38

Simply put, we are looking for records being _within_ a certain distance from a given point.
And _near_ sorts entities by distance from a given point

Those are classes that Spring Data recognizes:
[code]

[2020-03-06 13:33] dineshbhagat commented on #72
we can close this as a fix is already merged as part of this [PR](https://github.com/hazelcast/spring-data-hazelcast/pull/96)

[2020-03-06 13:37] ulhasrm commented on #48
Ok,
Currently we don't have Predicates to compare geo Points right ?
Do you expect to write all that logic by ourself or any spring library we could use for it?
**Within** can be used with Any Shapes provided in spring-data, hence we need a way to figure out given Point is within Shape.

Just wanted to check best way, before proceeding.

[2020-03-06 16:08] #72 closed

[2020-03-06 16:20] pivovarit commented on #48
I don't really know how it should be done. What I would do here is to check how the same functionality is implemented in other `spring-data-*` modules - and just try to adapt it to out context - I believe that's the way to go

[2020-03-11 11:37] jawitcher commented on #78
Hi, I would like to take this issue

[2020-03-11 13:15] pivovarit commented on #78
Sure, let me give you more details.

If you have a look at `QueryIT` tests, you will see that most of them depend on the internal state of the map. We need to make sure that each test creates its own entries and cleans up after them.

It might be even ok to create a new map for each test to have full independence from other test cases.

[2020-03-17 08:26] Holmistr commented on #78
PR: https://github.com/hazelcast/spring-data-hazelcast/pull/100

[2020-03-20 15:55] leszko opened #102 "PagingSortingIT.unpaged test failing"
[code]

[2020-03-20 21:00] qle1095 opened #103 "ReplicatedMap Support"
**Please describe the problem you are trying to solve**
I have been trying to implement Hazelcast Spring Data. But, after some testing, it seems like partitioning is not what can solve our problem because we process a large amount of messages. And every time a query is made, one node will have to reach out to other nodes for data, which causing the time out on our query.
**Please describe the desi

[2020-03-21 09:28] nfrankel commented on #103
Regarding your question, let me use the following SQL analogy that might make it easier to understand. Imagine you're querying a SQL database on different fields. Fields are different every time. One "solution" would be to index every field. That would surely make querying faster. And it would, but then every write would require the index to be updated and that would make every write much much slo

[2020-03-21 09:28] #103 closed

[2020-03-21 17:21] pivovarit commented on #48
I believe we're done here. Thanks @ulhasrm

[2020-03-21 17:21] #48 closed

[2020-03-21 17:32] #90 closed

[2020-03-21 20:22] Holmistr commented on #78
New PR: https://github.com/hazelcast/spring-data-hazelcast/pull/104

[2020-03-22 06:31] dineshbhagat commented on #14
@leszko can I work on this?

[2020-03-22 06:53] pivovarit commented on #14
If you feel like you can tackle this, then it would be great!

[2020-03-23 06:41] #102 closed

[2020-03-23 11:52] mesutcelik commented on #14
https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/spring-data-jpa-hazelcast-migration
https://github.com/hazelcast/hazelcast-code-samples/tree/master/hazelcast-integration/spring-data-hazelcast-chemistry-sample

We have those samples already. We need to make sure if they are still valid and that can be sufficient.

[2020-04-01 09:59] #78 closed

[2020-04-02 16:43] Holmistr commented on #15
@pangeran-bottor As per our private discussion, I'm unassigning you the issue for now. Thank you very much for looking into it and we would be happy to see you taking another one!

[2020-04-07 04:48] pivovarit commented on #9
@neilstevenson can this one be closed already?

[2020-04-16 10:38] mesutcelik commented on #9
@pivovarit as suggested [above](https://github.com/hazelcast/spring-data-hazelcast/issues/9#issuecomment-443296652), Can you create an issue on hazelcast and close this one?

[2020-05-29 09:04] dineshbhagat commented on #14
Thank you @mesutcelik for suggestions.
I think examples are well explained and we can use the same here.
Before I add the above 2 samples here, do I need to check for compatibility or need to upgrade any libs?

[2020-05-29 12:54] mesutcelik commented on #14
Hi @dineshbhagat ,
The idea is not to move them here but check if they are valid and update if necessary.

[2020-05-29 16:32] dineshbhagat commented on #14
sure @mesutcelik , as part of the validation what all steps I need to do?
One of them I can think of is `updating spring-data-hazelcast` version to 2.2.5.

[2020-05-29 16:35] mesutcelik commented on #14
Upgrading to latest versions could be a good start.

P.S: spring-data-hazelcast still depends on hazelcast 3.x so hazelcast 4.0 upgrade is not possible.

[2020-06-07 18:31] Ajaysankaran commented on #14
Hi.. can anyone please help me with the below issue.
https://stackoverflow.com/questions/62241914/hazelcast-repository-still-queries-the-database.
Thank you..

[2020-06-09 09:59] Ajaysankaran opened #116 "Hazelcast repository still queries database"
I have created a project with Spring data and hazelcast. In my project, i have an entity called ProductMap which i want to load into cache during startup and query it using HazelcastRepository.
But the problem is, eventhough i have loaded in cache, when i use HazelcastRepository methods, it still queries the database.

this is the git link of the project
https://github.com/Ajaysankaran/Hazelcast-d

[2020-06-11 12:04] dineshbhagat commented on #14
@mesutcelik [PR](https://github.com/hazelcast/hazelcast-code-samples/pull/429) ready for review.

[2020-09-09 13:48] ghimisradu opened #127 "Hazelcast 4.x.x not supported"
Starting a Hazelcast cluster client using version 4.x.x throws class not found exceptions because of the hazelcast package changes.

`java.lang.ClassNotFoundException: com.hazelcast.core.IMap
	at java.net.URLClassLoader.findClass(URLClassLoader.java:381) ~[na:1.8.0_121]
	at java.lang.ClassLoader.loadClass(ClassLoader.java:424) ~[na:1.8.0_121]
	at sun.misc.Launcher$AppClassLoader.loadClass(Launcher

[2020-09-10 07:47] dineshbhagat commented on #14
@mesutcelik can we close this issue if we do not need more changes?

[2020-09-10 07:52] dineshbhagat commented on #127
Hz 4.x has breaking changes and need to be careful with upgrade: https://docs.hazelcast.org/docs/4.0/manual/html-single/#upgrading-to-hazelcast-imdg-4-0

[2020-09-10 08:33] leszko commented on #14
Let's keep it open, we would like to create [Hazelcast Guide](https://guides.hazelcast.org/home/) related to Spring Data. @dineshbhagat Would like to work on it? I can guide through the process of creating a new guide.

[2020-09-10 09:31] dineshbhagat commented on #14
Sure, I can take that up @leszko

[2020-09-10 13:34] leszko commented on #14
Perfect. So I just created a repo for you: https://github.com/hazelcast-guides/spring-data. You need to do the following:
1. Fork the repo to your GitHub
2. Implement the guide keeping the structure the same as other guides, here's a good example: https://github.com/hazelcast-guides/hazelcast-embedded-springboot
3. Remember about including Integration Tests
4. Send a PR

If you have some more deta

[2020-09-10 14:18] enozcan commented on #14
@dineshbhagat You may also check this base guide and the wiki page:

- https://github.com/hazelcast-guides/base-guide (in general, we fork this and customize)
- https://github.com/hazelcast-guides/base-guide/wiki/How-to-write-a-guide

Please ask me if you have any issue regarding the guide stage. Thanks!

[2020-09-10 14:25] dineshbhagat commented on #14
Sure! @enozcan @leszko

[2020-09-16 11:39] leszko commented on #116
Could you check if this Code Sample solves your issue?

[2020-09-17 07:41] leszko commented on #14
This guide can be also helpful for preparing some guide: https://bitbucket.org/tomask79/spring-data-hazelcast

[2020-09-30 14:33] mskotnikov commented on #127
When is it planned to add Hazelcast 4.x support?
We are starting a new project and want to understand if we can put the library in the core of our solution design?
(or we get stuck with Hazelcast 3.x if we start using it)

[2020-10-01 07:44] leszko commented on #127
The next Spring Boot will support Hazelcast 4, so we'll release Hazelcast 4.x support with Spring Data after Spring Boot 2.4.0 is released.

Here's the related Spring Boot issue: https://github.com/spring-projects/spring-boot/issues/20856

[2020-11-24 12:14] logicatmidod opened #128 "Getting Error while running DSL query using spring data hazelcast"
Error running dynamic dsl query

[code]

[2020-11-26 03:38] logicatmidod commented on #128
Hi Looking at all the issues I faced Also raised issue https://github.com/querydsl/querydsl/issues/2697

looking for alternative option is there a way to support com.hazelcast.query.Predicate directly via spring data repository?

Thanks

[2020-11-26 09:42] leszko commented on #128
You can use `@Query` as described here: https://github.com/hazelcast/spring-data-hazelcast#query-support

[2020-11-26 10:10] logicatmidod commented on #128
What I am trying to do is something like this : https://www.denismigol.com/posts/325/spring-data-hazelcast-querydsl-demo As the issue with query is lets say I am displaying a table of users on UI and allowing people to put filter on the tables dynamicaly. A user may choose to filter the tables either with 1 column or 2 columns or n columns if I use https://github.com/hazelcast/spring-data-hazelcas

[2020-11-30 02:41] mskotnikov commented on #127
Hi,
when can hazelcast 4.x support be expected in the Spring data module?

Spring Boot 2.4.0 with hazelcast 4.x support was released a couple of weeks ago:
https://spring.io/blog/2020/11/12/spring-boot-2-4-0-available-now
https://github.com/spring-projects/spring-boot/issues/23475

[2020-11-30 14:09] pivovarit commented on #127
We should be able to release the new version with Spring 2.4.0 support this week.

[2020-11-30 23:51] mskotnikov commented on #127
Great, thanks!

[2020-12-01 07:26] #127 closed

[2020-12-09 15:42] rfogel commented on #127
Hello @pivovarit Do you have any prediction to launch the new version with Hz 4 support on central repo?

[2020-12-09 15:43] pivovarit commented on #127
Actually, the release is scheduled for tomorrow :)

[2020-12-09 15:50] rfogel commented on #127
Thanks man :)

[2020-12-10 14:33] ttimot24 opened #145 "Support ring buffer"
**Please describe the problem you are trying to solve**
I need to use a fixed size of buffer with elements which have time to live

**Please describe the desired behavior**
It would be good if RingBuffer could be used for storing items

**Describe alternatives you've considered**
Implement manually

[2020-12-11 06:51] pivovarit commented on #145
That issue doesn't sound like related to _spring-data-hazelcast_ module.

Hazelcast features a _RingBuffer_ data structure, you can read more about it here: https://docs.hazelcast.org/docs/latest/javadoc/com/hazelcast/ringbuffer/Ringbuffer.html

[2020-12-11 06:51] #145 closed

[2020-12-17 10:31] pivovarit opened #147 "Replace Query infrastructure with Hazelcast SQL"
Once SQL is production-ready, we should remove our custom querying infrastructure and reuse what's already in Hazelcast

[2020-12-17 13:21] pivovarit commented on #128
Firstly, looks like the described error is related to QueryDSL and not Spring Data Hazelcast

Not really. There's no direct integration between Spring Data and Hazelcast's `Predicate`, but you could just use them directly on the desired data structure without relying on Spring Data Hazelcast which is dedicated to solving common scenarios.

Also, the next release of Hazelcast will feature productio

[2020-12-17 13:21] #128 closed

[2020-12-17 13:24] pivovarit commented on #116
This issue was caused by misconfiguration and was solved [here](https://stackoverflow.com/a/62255538/2229438) already.

[2020-12-17 13:24] #116 closed

[2021-06-11 05:22] dino-lee opened #178 "A lot of CPU use data repository"
When performing Hazelcast repository queries, the CPU is used a lot when there are many conditions.

Is there any way to improve it?

The library version you use is as follows.

[code]

[2022-10-12 07:52] neilstevenson opened #257 "Advance to 5.*"
**Please describe the problem you are trying to solve**
Project uses 4.2.2 - https://github.com/hazelcast/spring-data-hazelcast/blob/master/pom.xml#L37

**Please describe the desired behavior**
Upgrade to 5.2

**Describe alternatives you've considered**
N/a